* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#9abaee), to(#1c74a7));
  background: linear-gradient(#9abaee, #1c74a7);
}

header {
  min-height: 20vh;
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

header img {
  width: 180px;
  height: 180px;
  margin-top: 10px;
}

header.hide {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.app-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container .enter-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app-container .enter-location .type-location {
  height: 2rem;
  border: 0.5px black solid;
  border-radius: 5px;
  width: 15rem;
  padding: 5px 10px;
  font-size: 1.25rem;
}

.app-container .enter-location .search-location {
  height: 2rem;
  width: 2rem;
  border: 0.5px black solid;
  border-radius: 5px;
  outline: none;
}

.app-container .enter-location .search-location:hover i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.45rem;
}

.app-container .enter-location .search-location i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.app-container .search-coordinates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 0;
}

.app-container .search-coordinates button {
  padding: 5px 10px;
  border: 1px black solid;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.app-container .search-coordinates button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #39d0eb;
  color: whitesmoke;
}

form.hide {
  display: none;
  pointer-events: none;
}

.show-section.hide {
  display: none;
  pointer-events: none;
}

.show-section {
  height: 60vh;
  width: 50%;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-section .position-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.show-section .position-image h1 {
  font-size: 3rem;
}

.show-section .degree-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.show-section .degree-section h1 {
  font-size: 3rem;
  margin: 5px;
}

.show-section .degree-section h2 {
  font-size: 2.8rem;
  margin: 5px;
}

.show-section .description-temperature h3 {
  font-size: 2.5rem;
}

.btn {
  padding: 5px 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
/*# sourceMappingURL=style.css.map */